body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center; }

h1, h2 {
  color: #f3c4cd; }

.container #top,
.container #middle,
.container #bottom, #box {
  border: 1px solid #f3c4cd;
  border-radius: 5px;
  width: 25%;
  padding: 15px 0px;
  margin: 20px auto;
  background-color: #F8EDF6; }
  .container #top img,
  .container #middle img,
  .container #bottom img, #box img {
    width: 90%;
    margin: auto;
    display: block; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

/*
20px==20px;
20==20rem;
tahoma=='tahoma';
8 !=12px;
(2px 5px 8px)==(2px 5px 8px);
3rem>5rem;
4rem<6rem;
1000ms>=1s;
verdana=='verdana'and 10px==10px;
verdana=='verdana'and 10px==10px;
not 4==4px;
*/
.numeric {
  font-size: 10px;
  width: 30px;
  border-width: 10px;
  height: 200px;
  min-height: 2px;
  outline: 0px; }

#box {
  background-color: transparent;
  height: 300px;
  margin-top: 20px;
  background: url("../images/cerosene-lamp.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

#number {
  width: 30.5px;
  height: 30px;
  min-height: 29px;
  max-height: 30px;
  margin-top: 20px;
  margin-left: 12px;
  margin-right: 50%;
  margin-bottom: 40%;
  font: true;
  font-size: false;
  border: true;
  padding-top: "px";
  padding-left: "px*rem";
  padding-right: false;
  padding-bottom: true;
  line-height: 0.0823843349;
  word-spacing: 4; }

#string {
  font: "Arial";
  font-family: Arial;
  color: "TOMATO";
  background: "salmon";
  line-height: 9;
  font-size: 6;
  border-color: "lightsalmon";
  outline-color: "red";
  border-image: "icon";
  display: usikn3tfb; }

#color {
  color: #007c7c;
  color: #008282;
  color: #002b80;
  color: #e51000;
  color: #747171;
  color: #ff8000;
  color: rgba(0, 128, 0, 0.5);
  color: 255;
  color: 136;
  color: 32deg;
  color: 100%;
  color: 50%;
  color: 1; }

#list {
  line-height: 4;
  font-weight: 4;
  font-size: 2;
  content: 30px;
  width: 18px;
  margin: 10px 3rem 30px 40px;
  padding: 10px, 15px, 20px;
  font-family: Arial, verdana, tahoma;
  width: 10px 20px 30px 40px 40em 30em 20em 10em;
  width: 1 2 3 4 5;
  width: 1, 2, 3, 4, 5;
  height: 1 2 3 4 5;
  height: 1, 2, 3, 4, 5;
  height: 1, 2, 3, 4, 5;
  font: 10px 20px 30px 40px 50px 60px;
  font: 10px, 20px, 30px, 40px, 50px 60px;
  font: 10px 20px 30px 40px 50px 60px;
  font: 10px 20px 30px 40px 50px 60px;
  color: red, green, blue;
  padding: 10px 40em, 20px 30em, 30px 20em, 40px 10em;
  background: red 20rem, green 45rem, blue 3em;
  background-color: red 20rem, green 45rem, blue 3em;
  text-shadow: 3;
  box-shadow: 4;
  margin: space;
  padding: comma;
  border: false; }

a.link, .link.active {
  color: crimson; }

#map {
  font-weight: 700;
  font: "regular", "medium", "bold";
  margin: 400, 500, 700;
  border: true;
  padding: "lightest" 100;
  background: "regular", "medium", "bold", "light", "lighter", "lightest";
  color: "regular", "medium", "bold"; }

#introspection {
  font: true;
  width: true;
  margin: true;
  padding: true;
  border: map;
  color: #f3c4cd;
  background: null; }

#content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-style: italic; }

#para {
  background-color: #f3c4cd;
  color: crimson;
  border-color: bisque; }

nav:hover {
  background-color: brown; }

@media only screen and (max-width: 768px) {
  nav {
    width: 400px; } }
nav {
  color: coral; }
  nav li {
    color: chocolate; }
    a {
      color: cyan; }

@media print {
  #para {
    border-radius: 10px; } }
p {
  color: gold;
  font-weight: medium; }

.link {
  font-size: 20px; }

.item-1 {
  border-width: 1px; }

.item-2 {
  border-width: 2px; }

.item-3 {
  border-width: 3px; }

.list-10px {
  width: 10px; }

.list-20px {
  width: 20px; }

.list-30px {
  width: 30px; }

.list-40px {
  width: 40px; }

.normal {
  font-style: bold;
  font-size: 20px; }

.italic {
  font-style: inherit;
  font-size: 35px; }

.para-regular {
  font-style: "regular";
  font-weight: 400; }

.para-medium {
  font-style: "medium";
  font-weight: 500; }

.para-bold {
  font-style: "bold";
  font-weight: 700; }

.num-5 {
  font-size: 5px; }

.num-7 {
  font-size: 7px; }

.num-9 {
  font-size: 9px; }

/*# sourceMappingURL=style.css.map */
